<div class="main__message-box d-flex flex-column">
  <div class="channel-name d-flex justify-content-between align-items-center">
    <span><%= channelInfo.name %></span>
    <span class="ms-auto d-inline-block">Chatting Users: <span class="active-user-count">0</span></span>
  </div>
  <div class="message-holder">
    <% for( let message of channelInfo?.messages ) { %>
    <div class="card flex-row" style="background-color: transparent;">
      <div class="front">
        <img src="<%= message.writer.userImage %>" alt="avatar">
      </div>
      <div class="latter">
        <div class="card-head">
          <strong><%= message.writer.username %></strong>
          <span><%= message.date %></span>
        </div>
        <div class="card-body">
          <p><%= message.message %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="channel-message-add">
    <form class="channel-message-form">
      <input type="text" placeholder="Type a message here">
      <button class="btn btn-primary">
        <i class="fa-solid fa-play text-white"></i>
      </button>
    </form>
  </div>
</div>